body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  /* letter-spacing: -0.03em; */
  /* background-color: #f5f5f5; */
  background: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  /* margin-bottom: 150px; */
  /* padding: 0 15px; */
}

h1,
h2,
h3,
p,
a {
  letter-spacing: -0.03em;
}

.interior__title {
  width: 956px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

.interior__box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 500px;
  /* padding-left: 40px; */
  /* padding-top: 379px; */
  /* padding-right: 680px; */
  /* padding-bottom: 40px; */
  background-repeat: no-repeat;
  background-image: url("../resources/inter.png");
}

.interior__text {
  width: 430px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.about,
.projects,
.last_info {
  margin-bottom: 150px;
}
.about__title {
  /* width: 1180px; */
  width: 51px;
  margin-top: 150px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #121212;
}

.about__description {
  margin-top: 30px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  text-align: left;
  color: #121212;
}

.about__link {
  /* width: 255px;
  height: 67px; */
  margin-top: 30px;
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  background-color: #ad1818;
  border: 1px solid #ad1818;
}

.about__link:hover {
  background-color: #fff;
  color: #ad1818;
}

.projects__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #121212;
}

.projects__list {
  width: 79px;
}

.projects__list-design {
  width: 1180px;
}

.projects__list-design__img {
  width: 100%;
  background-repeat: no-repeat;
}

.projects__list-design__title {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
  color: #121212;
}

.projects__list-design__info {
  display: block;
  margin-top: 15px;
  margin-left: 2px;
  margin-bottom: 90px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration: none;
  color: #ad1818;
}

.projects__list-design__btn {
  width: 1180px;
  padding-top: 51px;
  padding-bottom: 51px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ad1818;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  background-color: #fff;
  color: #ad1818;
}

.projects__list-design__btn:hover {
  cursor: pointer;
  background-color: #ad1818;
  color: #fff;
}

.services {
  max-width: 100%;
  /* margin: 0 auto; */
  background-color: #121212;
}

.services__title {
  box-sizing: border-box;
  padding-left: 127px;
  padding-top: 151px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.services__list-offers {
  width: 1150px;
  padding: 0 125px;
}

.services__list-offers__img {
  max-width: 100%;
  padding-bottom: 15px;
}

.services__list-offers__info {
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
